.App {
  text-align: center;
  max-height: 1vh;
  background-color: black;
}
img{
  height: 400px;
  width: 400px;
  background-color: aliceblue;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.p{
font-size: 10%;
margin-top: -100px;
}

.head{
  padding: 0px;
background-color: black;
}

.h2{
  padding-top: 100px;
  margin: 0;
}

.App-header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'copperplate gothic';
  color: rgb(232, 253, 235);
}

.Background-Screen{
  min-width: 70%;
  background-color: rgb(30, 30, 30);
  border-radius: 7px;
  height: 405px;
}

.container {

    min-width: 70%;
    max-width: 70%;
    background-color: rgb(56, 68, 59);
    border-radius: 7px;
    padding-top: 10px;
    overflow-y: auto;
    margin-top: 7px;
    max-height: 155px;
    min-height: 155px;
}

.btn-grid {
    display: grid;
    margin-top: 20px;
    gap: 3px;
}

.btn {
    border-color: hsla(144, 80%, 47%, 0.292);
    border: 1px solid hsla(144, 80%, 47%, 0.292);
    border-radius: 5px;
    padding: 5px 10px;

}

.btn:hover{
border-color: black;
} 
